extend = [
  { path = "tasks/alacritty.toml" },
  { path = "tasks/asdf.toml" },
  { path = "tasks/dotfiles.toml" },
  { path = "tasks/fish.toml" },
  { path = "tasks/font.toml" },
  { path = "tasks/git.toml" },
  { path = "tasks/language.toml" },
  { path = "tasks/neovim.toml" },
  { path = "tasks/starship.toml" },
  { path = "tasks/tmux.toml" },
  { path = "tasks/tool.toml" },
  { path = "tasks/vim.toml" },
]

##############################
# CI                         #
##############################
[tasks.github-actions]
dependencies = [
  "check_envs",
  "install_git",
  "link_git",
  "setup_dotfiles",
  "setup_alacritty",
  "setup_tmux",
  "setup_fish",
  "setup_starship",
  "install_asdf",
  "setup_languages",
  "install_tools",
  "setup_neovim",
  "setup_vim",
  "link_bash",
]

##############################
# Setup                      #
##############################
[tasks.setup]
dependencies = [
  "check_envs",
  "setup_git",
  "setup_dotfiles",
  "setup_font",
  "setup_alacritty",
  "setup_tmux",
  "setup_fish",
  "setup_starship",
  "install_asdf",
  "setup_languages",
  "install_tools",
  "setup_neovim",
  "setup_vim",
  "link_bash",
  "cleanup",
]

##############################
# Check envs                 #
##############################
[tasks.check_envs]
script = [
'''
#!/usr/bin/env bash

if test -z "$PYTHON_VERSION"; then
  echo "Set PYTHON_VERSION"
  exit 1
fi

if test -z "$GO_VERSION"; then
  echo "Set GO_VERSION"
  exit 1
fi

if test -z "$NODE_VERSION"; then
  echo "Set NODE_VERSION"
  exit 1
fi

if test -z "$GIT_NAME"; then
  echo "Set GIT_NAME"
  exit 1
fi

if test -z "$GIT_EMAIL"; then
  echo "Set GIT_EMAIL"
  exit 1
fi
'''
]

##############################
# dotfiles                   #
##############################


##############################
# bash                       #
##############################
[tasks.link_bash]
script = [
'''
#!/usr/bin/env bash

mv ~/.profile ~/.profile.bk
ln -snfv ~/dotfiles/.profile ~
'''
]
