[tasks.install_deno]
category = "languages"
description = "Install Deno"
script = [
'''
#!/usr/bin/env bash
set -eux -o pipefail

curl -fsSL https://deno.land/install.sh | sh

echo 'export DENO_INSTALL="$HOME/.deno"' >> $HOME/.profile
echo 'export PATH="$DENO_INSTALL/bin:$PATH"' >> $HOME/.profile
'''
]

[tasks.update_deno]
category = "languages"
description = "Install Deno"
script = [
'''
#!/usr/bin/env bash
set -eux -o pipefail

if !(type deno > /dev/null 2>&1); then
  source $HOME/.profile
fi

deno upgrade
'''
]
