[tasks.install_node]
category = "languages"
description = "Install Node.js"
condition = { env_set = ["NODE_VERSION"] }
dependencies = ["asdf_node_plugin"]
script = [
'''
#!/usr/bin/env bash

if test -z "$NODE_VERSION"; then
  echo "NODE_VERSION must be set"
  exit 1
fi

if !(type asdf > /dev/null 2>&1); then
  source $HOME/.asdf/asdf.sh
fi

asdf install nodejs "$NODE_VERSION"
asdf global nodejs "$NODE_VERSION"
'''
]

[tasks.update_npm]
category = "languages"
description = "Update npm version"
condition = { profiles = ["production"] }
script = [
'''
#!/usr/bin/env bash

if [ -z "$NPM_UPDATE_VERSION" ]; then
  NPM_UPDATE_VERSION='latest'
fi

npm update -g npm@"$NPM_UPDATE_VERSION"
'''
]

[tasks.asdf_node_plugin]
private = true
script = [
'''
#!/usr/bin/env bash

if !(type asdf > /dev/null 2>&1); then
  source $HOME/.asdf/asdf.sh
fi

asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
'''
]
