[tasks.setup_alacritty]
run_task = [
  { name = ["clone_alacritty", "install_alacritty", "link_alacritty"] },
]

[tasks.clone_alacritty]
script = [
'''
#!/usr/bin/env bash

git clone https://github.com/alacritty/alacritty.git ~/alacritty
cd ~/alacritty
rustup override set stable
rustup update stable
'''
]

[tasks.pull_alacritty]
script = [
'''
#!/usr/bin/env bash

cd ~/alacritty
git pull --rebase origin master
rustup override set stable
rustup update stable
'''
]

[tasks.install_alacritty.mac]
script = [
'''
#!/usr/bin/env bash

cd ~/alacritty
make app
cp -rf target/release/osx/Alacritty.app /Applications/
'''
]

[tasks.install_alacritty.linux]
script = [
'''
#!/usr/bin/env bash

cd ~/alacritty
cargo build --release

sudo cp -f target/release/alacritty /usr/local/bin
sudo cp -f extra/logo/alacritty-term.svg /usr/share/pixmaps/Alacritty.svg
sudo desktop-file-install extra/linux/Alacritty.desktop
sudo update-desktop-database

sudo mkdir -p /usr/local/share/man/man1
gzip -c extra/alacritty.man | sudo tee /usr/local/share/man/man1/alacritty.1.gz > /dev/null
'''
]
dependencies = ["dependencies_alacritty"]

[tasks.dependencies_alacritty.linux]
script = [
'''
#!/usr/bin/env bash

sudo apt install -y cmake pkg-config libfreetype6-dev libfontconfig1-dev libxcb-xfixes0-dev python3
'''
]

[tasks.link_alacritty]
script = [
'''
#!/usr/bin/env bash

ln -snfv ~/dotfiles/.config/alacritty ~/.config
'''
]

[tasks.update_alacritty]
run_task = [{ name = ["pull_alacritty", "install_alacritty"] }]
