[tasks.setup_dotfiles]
script = [
'''
#!/usr/bin/env bash

if [ ! -d "~/dotfiles" ] ; then
  git clone https://github.com/pyama2000/dotfiles.git ~/dotfiles
fi

cd ~/dotfiles
git remote set-url origin git@github.com:pyama2000/dotfiles.git
'''
]

[tasks.update_dotfiles]
script = [
'''
#!/usr/bin/env bash

cd ~/dotfiles
git stash
git pull --rebase origin master
'''
]
