[tasks.setup_font]
dependencies = ["download_source-code-pro", "source-code-pro"]

[tasks.download_source-code-pro]
script = [
'''
#!/usr/bin/env bash

if [ ! -d "~/.fonts" ] ; then
    mkdir ~/.fonts
fi

mkdir -p ~/.fonts/adobefont/source-code-pro

mkdir -p /tmp/adobefont
cd /tmp/adobefont

curl -LO https://github.com/adobe-fonts/source-code-pro/archive/release.zip
unzip release.zip
mv source-code-pro-release/* ~/.fonts/adobefont/source-code-pro

cd ../
rm -rf adobefont
'''
]

[tasks.source-code-pro.mac]
script = [
'''
#!/usr/bin/env bash

cp -a ~/.fonts/adobefont/source-code-pro/TTF/* ~/Library/Fonts
'''
]

[tasks.source-code-pro.linux]
script = [
'''
#!/usr/bin/env bash

fc-cache -f -v ~/.fonts/adobefont/source-code-pro
'''
]
