extend = [
  { path = "languages/deno.toml" },
  { path = "languages/go.toml" },
  { path = "languages/node.toml" },
  { path = "languages/python.toml" },
  { path = "languages/rust.toml" },
]

[tasks.setup_languages]
category = "languages"
description = "Setup languages in parallel"
run_task = { name = [
  "install_deno",
  "setup_rust",
  "install_go",
  "install_node",
  "setup_python",
], parallel = true }

[tasks.update_languages]
category = "languages"
description = "Update languages"
run_task = { name = [
  "update_deno",
  "update_rust",
  "update_go",
  "update_npm",
  "update_pip",
], parallel = true }
