[tasks.setup_tmux]
category = "SETUP"
dependencies = ["install_tmux","install_tpm", "tmux_plugin", "link_tmux"]

[tasks.install_tmux.mac]
category = "INSTALL"
script = [
'''
#!/usr/bin/env bash

brew install tmux
'''
]

[tasks.install_tmux.linux]
category = "INSTALL"
script = [
'''
#!/usr/bin/env bash

sudo apt install -y tmux
'''
]

[tasks.install_tpm]
category = "INSTALL"
script = [
'''
#!/usr/bin/env bash

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
'''
]

[tasks.tmux_plugin.mac]
category = "INSTALL"
script = [
'''
#!/usr/bin/env bash

brew install reattach-to-user-namespace
'''
]

[tasks.link_tmux]
category = "LINK"
script = [
'''
#!/usr/bin/env bash

ln -snfv ~/dotfiles/.tmux.conf ~/
'''
]
