name: CI
on: [push]
jobs:
  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run setup.sh
      run: ./script/install.sh
    - name: Check envs
      if: always()
      run: cargo make --makefile script/task.toml check_envs -e GIT_NAME=$GIT_NAME -e GIT_EMAIL=$GIT_EMAIL -e PYTHON_VERSION=$PYTHON_VERSION -e GO_VERSION=$GO_VERSION -e NODE_VERSION=$NODE_VERSION
      env:
        GIT_NAME: pyama2000
        GIT_EMAIL: example@example.com
        PYTHON_VERSION: 3.9.0
        GO_VERSION: 1.14.2
        NODE_VERSION: 12.16.3
    - name: Install Git
      if: always()
      run: cargo make --makefile script/task.toml install_git -e GIT_NAME=$GIT_NAME -e GIT_EMAIL=$GIT_EMAIL
      env:
        GIT_NAME: pyama2000
        GIT_EMAIL: example@example.com
    - name: Clone dotfiles
      if: always()
      run: cargo make --makefile script/task.toml setup_dotfiles
    - name: Create git config link
      if: always()
      run: cargo make --makefile script/task.toml link_git
    - name: Create local git config file
      if: always()
      run: cargo make --makefile script/task.toml gen_git_local -e GIT_NAME=$GIT_NAME -e GIT_EMAIL=$GIT_EMAIL
    - name: Setup alacritty 
      if: always()
      run: cargo make --makefile script/task.toml setup_alacritty
    - name: Setup tmux
      if: always()
      run: cargo make --makefile script/task.toml setup_tmux
    - name: Setup fish 
      if: always()
      run: cargo make --makefile script/task.toml setup_fish
    - name: Setup starship
      if: always()
      run: cargo make --makefile script/task.toml setup_starship
    - name: Install asdf 
      if: always()
      run: cargo make --makefile script/task.toml install_asdf
    - name: Setup languages
      if: always()
      run: cargo make --makefile script/task.toml setup_languages -e PYTHON_VERSION=$PYTHON_VERSION -e GO_VERSION=$GO_VERSION -e NODE_VERSION=$NODE_VERSION
      env:
        PYTHON_VERSION: 3.9.0
        GO_VERSION: 1.14.2
        NODE_VERSION: 12.16.3
    - name: Install tools
      if: always()
      run: cargo make --makefile script/task.toml install_tools
    - name: Setup neovim
      if: always()
      run: cargo make --makefile script/task.toml setup_neovim
    - name: Update Neovim provider
      if: always()
      run: cargo make --makefile script/task.toml update_neovim_provider
    - name: Setup vim 
      if: always()
      run: cargo make --makefile script/task.toml setup_vim
    - name: Create bash config link
      if: always()
      run: cargo make --makefile script/task.toml link_bash

  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run setup.sh
      run: ./script/install.sh
    - name: Check envs
      if: always()
      run: cargo make --makefile script/task.toml check_envs -e GIT_NAME=$GIT_NAME -e GIT_EMAIL=$GIT_EMAIL -e PYTHON_VERSION=$PYTHON_VERSION -e GO_VERSION=$GO_VERSION -e NODE_VERSION=$NODE_VERSION
      env:
        GIT_NAME: pyama2000
        GIT_EMAIL: example@example.com
        PYTHON_VERSION: 3.9.0
        GO_VERSION: 1.14.2
        NODE_VERSION: 12.16.3
    - name: Install Git
      if: always()
      run: cargo make --makefile script/task.toml install_git -e GIT_NAME=$GIT_NAME -e GIT_EMAIL=$GIT_EMAIL
      env:
        GIT_NAME: pyama2000
        GIT_EMAIL: example@example.com
    - name: Clone dotfiles repository
      if: always()
      run: cargo make --makefile script/task.toml setup_dotfiles
    - name: Create git config link
      if: always()
      run: cargo make --makefile script/task.toml link_git
    - name: Create local git config file
      if: always()
      run: cargo make --makefile script/task.toml gen_git_local -e GIT_NAME=$GIT_NAME -e GIT_EMAIL=$GIT_EMAIL
    - name: Setup alacritty 
      if: always()
      run: cargo make --makefile script/task.toml setup_alacritty
    - name: Setup tmux
      if: always()
      run: cargo make --makefile script/task.toml setup_tmux
    - name: Setup fish 
      if: always()
      run: cargo make --makefile script/task.toml setup_fish
    - name: Setup starship
      if: always()
      run: cargo make --makefile script/task.toml setup_starship
    - name: Install asdf 
      if: always()
      run: cargo make --makefile script/task.toml install_asdf
    - name: Setup languages
      if: always()
      run: cargo make --makefile script/task.toml setup_languages -e PYTHON_VERSION=$PYTHON_VERSION -e GO_VERSION=$GO_VERSION -e NODE_VERSION=$NODE_VERSION
      env:
        PYTHON_VERSION: 3.9.0
        GO_VERSION: 1.14.2
        NODE_VERSION: 12.16.3
    - name: Install tools
      if: always()
      run: cargo make --makefile script/task.toml install_tools
    - name: Setup neovim
      if: always()
      run: cargo make --makefile script/task.toml setup_neovim
    - name: Update Neovim provider
      if: always()
      run: cargo make --makefile script/task.toml update_neovim_provider
    - name: Setup vim 
      if: always()
      run: cargo make --makefile script/task.toml setup_vim
    - name: Create bash config link
      if: always()
      run: cargo make --makefile script/task.toml link_bash
